<!DOCTYPE html>

<html>
    <head>
        <title>CORS 실습</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="result"></div>
        <script src="http://unpkg.com/axios/dist/axios.min.js">
        </script>
        <script>
            axios.post('http://localhost:9002/v2/token',{clientSecret:'{{key}}'})
            .then((res) => {
                document.getElementById('result').innerHTML = JSON.stringify(res.data);
            })
            .catch( (err) => {
                console.log(err);
            })
        </script>
    </body>
</html>