<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>데이터 수정</title>
    </head>
    <body>
        <div id="msg"></div>
        <form method="post" enctype="multipart/form-data">
            <table style = "border:2px solid" >
                <tr><td>아이템 아이디 : <input type="text" name="itemid" id="itemid"/></td></tr>
                <tr><td>아이템 이름 : <input type="text" name="itemname" id="itemname"/></td></tr>
                <tr><td>가격  &nbsp;: <input type="text" name="price" id="price"/></td></tr>
                <tr><td>설명  &nbsp;: <input type="text" name="description" id="description"/></td></tr>
                <tr><td><input type="text" name="oldpictureurl" id="oldpictureurl"/></td></tr>
                <tr><td>이미지 : <input type="file" name="pictureurl" id="pictureurl"/> </td></tr>
            </table>
           
            <input type="submit" value="수정">       
        </form>
    </body>
    <script>
        var xhr = new XMLHttpRequest();
        xhr.open('GET','/item/detail?itemid='+1);
        xhr.send('');
        xhr.addEventListener('load', ()=>{
            var data = JSON.parse(xhr.responseText);

            if(data.result == true) {
                document.getElementById("itemid").value = data.item.itemid;
                document.getElementById("itemid").readOnly = true;
                document.getElementById("itemname").value = data.item.itemname;
                document.getElementById("price").value = data.item.price;
                document.getElementById("description").value = data.item.description;
                document.getElementById("oldpictureurl").value = data.item.pictureurl;
                document.getElementById("oldpictureurl").readOnly = true;

        
            }else{
                document.getElementById("msg").innerHTML = '수정할 데이터 없음'
            }

        })
    </script>
</html>